fastapi==0.115.5
uvicorn[standard]==0.30.6
python-multipart==0.0.9
pydantic==2.9.2
numpy==1.26.4
opencv-python-headless==4.10.0.84
ultralytics==8.3.213
streamlit==1.39.0
requests==2.32.3
pandas==2.2.2
streamlit-on-Hover-tabs
streamlit_extras
agno
openai
pgvector
google-genai 
python-dotenv
sqlalchemy
streamlit-antd-components
streamlit-lottie
supabase
psycopg2
audio_recorder_streamlit 
hijri-converter
